## 1.List Operations:
Here the result of the reduce function is a single value. Consider if you wanted to sum the values of a list. The sum is implemented by a lambda which is used for any expressions.

In [13]:
from functools import reduce
l = [1,2,3,4,5,6,7,8,9,10]
square_l = [a**2 for a in l]
result = reduce(lambda a,b: a+b,square_l)
print(result)

385

## 2.Tuple Operations:

In [12]:
t = (2,4,6,8,10)
result = reduce(lambda a,b: a*b,t)
print(result)

3840

## 3.Set Operations:

In [11]:
s1={3,7,9}
s2={1,5,7}
print(s1.union(s2))#union
print(s1 & s2)#intersection

{1, 3, 5, 7, 9}
{7}

## 4.Dictionary Operations:

In [10]:
d = {'S': 53, 'U': 55, 'C': 43,'H': 48, 'I': 49}
print(d)

{'S': 53, 'U': 55, 'C': 43, 'H': 48, 'I': 49}

## 5.Functional Programming:

In [9]:
def square(x):
    return x*x
l = [1,2,3,4,5,6,7,8,9,10]
result = map(square, l)
print(list(result))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]